# Segmenting and Clustering Neighborhoods in Toronto

## Part 1: Converting wiki page to DataFrame

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' #url to the wiki site
df_list = pd.read_html(url) #get the list of data_frames from website
df = df_list[0] #we just want the first dataframe

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

good now we have export table into dataframe

In [4]:
df.shape

(287, 3)

In [5]:
df.Borough.value_counts()

Not assigned        77
Etobicoke           44
North York          38
Downtown Toronto    37
Scarborough         37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

drop raws where Borough=='Not assigned'

In [6]:
df.drop(df[df['Borough']=="Not assigned"].index, axis=0, inplace=True)

In [7]:
df.shape

(210, 3)

In [8]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [9]:
df.groupby('Borough').describe()

                 Postcode                  Neighbourhood         \
                    count unique  top freq         count unique
Borough
Central Toronto        17      9  M4V    5            17     17
Downtown Toronto       37     19  M5V    7            37     36
East Toronto            7      5  M4K    2             7      7
East York               6      5  M4B    2             6      6
Etobicoke              44     11  M8Y    8            44     44
Mississauga             1      1  M7R    1             1      1
North York             38     24  M6L    3            38     38
Queen's Park            1      1  M9A    1             1      1
Scarborough            37     17  M1V    4            37     37
West Toronto           13      6  M6K    3            13     13
York                    9      5  M6M    4             9      9


                                                    top freq
Borough
Central Toronto                           North Midtown    1
Downtown Toronto                         St. James Town    2
East Toronto                           The Beaches West    1
East York                              Woodbine Heights    1
Etobicoke                            The Queensway West    1
Mississauga       Canada Post Gateway Processing Centre    1
North York                            Hillcrest Village    1
Queen's Park                               Not assigned    1
Scarborough                                  Port Union    1
West Toronto                         Dovercourt Village    1
York                                        Silverthorn    1

In [10]:
df.groupby('Postcode').describe()

         Borough                               Neighbourhood         \
           count unique               top freq         count unique
Postcode
M1B            2      1       Scarborough    2             2      2
M1C            3      1       Scarborough    3             3      3
M1E            3      1       Scarborough    3             3      3
M1G            1      1       Scarborough    1             1      1
M1H            1      1       Scarborough    1             1      1
M1J            1      1       Scarborough    1             1      1
M1K            3      1       Scarborough    3             3      3
M1L            3      1       Scarborough    3             3      3
M1M            3      1       Scarborough    3             3      3
M1N            2      1       Scarborough    2             2      2
M1P            3      1       Scarborough    3             3      3
M1R            2      1       Scarborough    2             2      2
M1S            1      1       Scarborough    1             1      1
M1T            3      1       Scarborough    3             3      3
M1V            4      1       Scarborough    4             4      4
M1W            1      1       Scarborough    1             1      1
M1X            1      1       Scarborough    1             1      1
M2H            1      1        North York    1             1      1
M2J            3      1        North York    3             3      3
M2K            1      1        North York    1             1      1
M2L            2      1        North York    2             2      2
M2M            2      1        North York    2             2      2
M2N            1      1        North York    1             1      1
M2P            1      1        North York    1             1      1
M2R            1      1        North York    1             1      1
M3A            1      1        North York    1             1      1
M3B            1      1        North York    1             1      1
M3C            2      1        North York    2             2      2
M3H            3      1        North York    3             3      3
M3J            2      1        North York    2             2      2
...          ...    ...               ...  ...           ...    ...
M6C            1      1              York    1             1      1
M6E            1      1              York    1             1      1
M6G            1      1  Downtown Toronto    1             1      1
M6H            2      1      West Toronto    2             2      2
M6J            2      1      West Toronto    2             2      2
M6K            3      1      West Toronto    3             3      3
M6L            3      1        North York    3             3      3
M6M            4      1              York    4             4      4
M6N            2      1              York    2             2      2
M6P            2      1      West Toronto    2             2      2
M6R            2      1      West Toronto    2             2      2
M6S            2      1      West Toronto    2             2      2
M7A            1      1  Downtown Toronto    1             1      1
M7R            1      1       Mississauga    1             1      1
M7Y            1      1      East Toronto    1             1      1
M8V            3      1         Etobicoke    3             3      3
M8W            2      1         Etobicoke    2             2      2
M8X            3      1         Etobicoke    3             3      3
M8Y            8      1         Etobicoke    8             8      8
M8Z            5      1         Etobicoke    5             5      5
M9A            1      1      Queen's Park    1             1      1
M9B            5      1         Etobicoke    5             5      5
M9C            4      1         Etobicoke    4             4      4
M9L            1      1        North York    1             1      1
M9M            2      1        North York    2             2      2
M9N            1      1              York    1             1      1
M9P            1      1         Etobicoke    1             1      1
M9R            4      1         Etobicoke    4             4      4
M9V            8      1         Etobicoke    8             8      8
M9W            1      1         Etobicoke    1             1      1


                                                        top freq
Postcode
M1B                                                 Malvern    1
M1C                                              Rouge Hill    1
M1E                                               West Hill    1
M1G                                                  Woburn    1
M1H                                               Cedarbrae    1
M1J                                     Scarborough Village    1
M1K                                            Kennedy Park    1
M1L                                             Golden Mile    1
M1M                                Scarborough Village West    1
M1N                                          Cliffside West    1
M1P                                             Dorset Park    1
M1R                                                Maryvale    1
M1S                                               Agincourt    1
M1T                                                Sullivan    1
M1V                                            Steeles East    1
M1W                                         L'Amoreaux West    1
M1X                                             Upper Rouge    1
M2H                                       Hillcrest Village    1
M2J                                              Henry Farm    1
M2K                                         Bayview Village    1
M2L                                            Silver Hills    1
M2M                                              Willowdale    1
M2N                                        Willowdale South    1
M2P                                         York Mills West    1
M2R                                         Willowdale West    1
M3A                                               Parkwoods    1
M3B                                         Don Mills North    1
M3C                                         Don Mills South    1
M3H                                         Downsview North    1
M3J                                         York University    1
...                                                     ...  ...
M6C                                      Humewood-Cedarvale    1
M6E                                     Caledonia-Fairbanks    1
M6G                                                Christie    1
M6H                                      Dovercourt Village    1
M6J                                                 Trinity    1
M6K                                        Exhibition Place    1
M6L                                               Downsview    1
M6M                                              Keelesdale    1
M6N                                               Runnymede    1
M6P                                      The Junction South    1
M6R                                                Parkdale    1
M6S                                               Runnymede    1
M7A                                            Queen's Park    1
M7R                   Canada Post Gateway Processing Centre    1
M7Y       Business Reply Mail Processing Centre 969 Eastern    1
M8V                                             New Toronto    1
M8W                                             Long Branch    1
M8X                                          Old Mill North    1
M8Y                                               Mimico NE    1
M8Z                                      The Queensway West    1
M9A                                            Not assigned    1
M9B                                            Martin Grove    1
M9C                                                Eringate    1
M9L                                           Humber Summit    1
M9M                                                   Emery    1
M9N                                                  Weston    1
M9P                                               Westmount    1
M9R                                    Martin Grove Gardens    1
M9V                                             Mount Olive    1
M9W                                               Northwest    1

[103 rows x 8 columns]

check how many Neighbourhoods available for Postcode=M5A

In [11]:
df.groupby('Postcode')['Neighbourhood'].unique()['M5A']

array(['Harbourfront'], dtype=object)

only one Neighbourhood is available but in assignment guidelines it says there will be 2.  
further check for Neighbourhood='Regent Park' in the dataset

In [12]:
df[df['Neighbourhood']=='Regent Park']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

Eventhough in assignment guide lines it says that "M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park." actually our downloaded data set does not have Neighbourhood call 'Regent Park', so we can assume the data has been updated recently

In [13]:
s1 = df.groupby('Postcode')['Neighbourhood'].unique() #get list of Neighbourhood against unique Postcode
s1.head()

Postcode
M1B                            [Rouge, Malvern]
M1C    [Highland Creek, Rouge Hill, Port Union]
M1E         [Guildwood, Morningside, West Hill]
M1G                                    [Woburn]
M1H                                 [Cedarbrae]
Name: Neighbourhood, dtype: object

In [14]:
s2 = df.groupby('Postcode')['Borough'].unique() ##get Borough against unique Postcode
s2.head()

Postcode
M1B    [Scarborough]
M1C    [Scarborough]
M1E    [Scarborough]
M1G    [Scarborough]
M1H    [Scarborough]
Name: Borough, dtype: object

In [15]:
df_combined = pd.concat([s2, s1], axis=1)

In [16]:
df_combined.reset_index(inplace=True) #reset_index will remove Postcode from index and make it a column

In [17]:
df_combined.head()

  Postcode        Borough                             Neighbourhood
0      M1B  [Scarborough]                          [Rouge, Malvern]
1      M1C  [Scarborough]  [Highland Creek, Rouge Hill, Port Union]
2      M1E  [Scarborough]       [Guildwood, Morningside, West Hill]
3      M1G  [Scarborough]                                  [Woburn]
4      M1H  [Scarborough]                               [Cedarbrae]

Now we have got combined Borough and Neighbourhood against each unique Postcode.  
However, still we need to remove bracets in each field

In [18]:
df_combined.head()

  Postcode        Borough                             Neighbourhood
0      M1B  [Scarborough]                          [Rouge, Malvern]
1      M1C  [Scarborough]  [Highland Creek, Rouge Hill, Port Union]
2      M1E  [Scarborough]       [Guildwood, Morningside, West Hill]
3      M1G  [Scarborough]                                  [Woburn]
4      M1H  [Scarborough]                               [Cedarbrae]

In [19]:
#','.join(map(str,[10,"test",10.5]))

In [20]:
#df_combined.applymap(lambda x: ','.join(map(str,x)) if np.where(df_combined.values==x)[1] in [1,2] else x)

apply below lambda function to 'Brough' and 'Neighbourhood' to make each element to a string

In [21]:
df_combined['Borough']=df_combined['Borough'].apply(lambda x: ','.join(map(str,x)))
df_combined['Neighbourhood']=df_combined['Neighbourhood'].apply(lambda x: ','.join(map(str,x)))

In [22]:
df_combined.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [23]:
df_combined.shape

(103, 3)